/*page*/
*{margin: 0; padding: 0; box-sizing: border-box;}

/*wrap*/
#wrap {width: 400px; height: 800px; border: 1px solid black; margin: 0 auto;}

/*header*/
.dropdown {width: 300px; height: 50px; margin: 0 auto;}
.dropdown > ul {color: black;}
.dropdown > li {width: 100px; height: 50px; overflow: hidden; float: left; line-height: 50px; text-align: center; font-size: 13px;}
.dropdown > li:hover {height: 250px; transition: 2s;}
.dropdown > li :first-child {background-color: red;}
.dropdown > li :nth-child(2) {background-color: blue;}
.dropdown > li :nth-child(3) {background-color: green;}
.dropdown > li :last-child {background-color: pink;}